@mixin z-index($key) {
  z-index: map-get($layer,$key);
}

.ly-header{
  position: fixed;
  width: 100%;
  padding-top:24px;
  padding-bottom:23px;
}

.header{
  @include z-index(header);
  background: #fff;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  &-nav li{
    margin-right: 2.3rem;
    margin-left: 2.3rem;
    font-size: 1.6rem;
  }
}
